@media screen and (max-width: 1600px) {
    div.logo {
        left: 10%;
    }
    div.user.connect {
        right: 10%;
    }
}

@media screen and (max-width: 1550px) {
    div.accounts-list, div.websites-list, div.subdomains-list {
        margin-top: 4em;
    }
}

@media screen and (max-width: 1250px) {
    .welcome-banner .welcome {
        min-height: 800px;
    }
    .welcome .details {
        margin-top: 2em !important;
    }
}

@media screen and (max-width: 1000px) {
    div.logo {
        left: 12%;
    }
    div.user.connect {
        right: 12%;
    }
}

@media screen and (max-width: 700px) {
    div.logo {
        left: 14%;
    }
    div.user.connect {
        right: 14%;
    }
}

@media (max-width: 660px) {
    /* HOME PAGE */
    div.page {
        max-width: 100vw;
        padding: 0;
    }
    div.welcome.banner, .content-3-banner .bottom-banner {
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
        border-radius: unset !important;
    }
    .title div, span.your-name {
        font-size: 50px !important;
        word-break: break-word;
    }
    div.title {
        margin-top: 5em;
        margin-bottom: 2em;
    }
    .home-badge {
        min-width: 90vw !important;
        display: block;
        margin-left: 1em;
        margin-right: 1em;
    }
    .home.content {
        padding-left: 1.25em;
        padding-right: 1.25em;
    }
    .home.content div {
        display: block;
        width: auto;
    }
    .home.content div.ln-3 {
        width: auto !important;
    }
    .row.home1-row {
        margin-left: -40px;
        margin-right: -40px;
    }
    .home1-row .col, .col .content-1-img {
        position: static !important;
        width: 100% !important;
        margin-bottom: -1em;
    }
    .col .content-1-img.home3 {
        margin-top: -2em;
        margin-bottom: -3em;
    }
    .col .content-1-img.home4 {
        margin-bottom: 1em;
    }
    .content-2-img {
        top: -75px !important;
        margin-bottom: 5em !important;
    }
    .home.content .text, .home .heading {
        font-size: 50px !important;
    }
    .home.content-3 {
        padding: 0;
    }
    .token-header img.token {
        display: flex;
    }
    .footer .row.tp {
        flex-direction: column;
    }
    .footer.container-xl {
        max-width: 100vw !important;
        margin-left: 0;
        margin-right: 0;
        padding: 2em !important;
    }
    .row.attribute {
        flex-direction: column;
    }

    /* DOMAINS */
    .domain-banner .search {
        display: none;
    }
    .domain-banner .domain-banner {
        border-radius: unset !important;
    }
    ul.domains li {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    /* DOMAIN */
    .domain-banner .wrapper .domain-banner-i {
        border-radius: unset !important;
    }
    div.page .token-metadata, div.page .domain-history {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}