@font-face {
    font-family: Inter;
    src: url('/font/inter/Inter-VariableFont_slnt,wght.ttf');
}

html, body {
    background: #F2EFED;
    font-family: Inter;
    overflow-x: hidden;
}
div.logo {
    position: absolute;
    top: 58px;
    left: 8%;
    z-index: 100;
}
div.user.connect {
    position: absolute;
    top: 58px;
    right: 8%;
    min-width: 500px;
    text-align: right;
    z-index: 110;
}
ul.navigation {
    position: absolute;
    right: 8%;
    top: 118px;
    padding: 32px;
    gap: 32px;
    min-width: 327px;
    background: #FFFFFF;
    box-shadow: -8px 0px 124px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    z-index: 100;
}
div.page {
    max-width: 90vw;
    padding: 3em;
    padding-bottom: 0;
    margin: auto;
}
a, a:active, a:focus, a:hover {
    color: inherit;
}
div.loading.default {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #000000;
    animation: loader 2s linear infinite;
    margin: auto;
}
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled  {
    background-color: #FF4D00;
    border-color: #FF4D00;
}
.btn-primary:hover {
    background-color: #e64500;
    border-color: #e64500;
}
.btn-inverse {
    background-color: #fff;
    color: #FF4D00;
    border-color: #F2EFED;
}
.btn-inverse:hover {
    color: #FF4D00;
    background-color: #F2EFED;
}
.btn-wrapper {
    display: inline-block;
}
.btn-close-alt {
    padding: 0px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 8px;
    filter: drop-shadow(0px 15px 54px rgba(0, 0, 0, 0.06));
}
.button-group {
    border-radius: 4px;
    padding: 1em;
    border: 1px solid #F2EFED;
    background: #fff;
    display: inline-block;
}
.button-group a {
    padding: 0.75em;
    margin-right: 1em;
    cursor: pointer;
}
.button-group a.active {
    color: #FF4D00;
}
.close-x, .pointer {
    cursor: pointer;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}
.full-width {
    width: 100%;
}
.italic {
    font-style: italic;
}
.search-target {
    color: #FF4D00;
}
div.banner {
    height: 720px;
}
div.banner.sm {
    height: auto;
}
.txt-primary {
    color: #000000;
}
.txt-secondary {
    color: #ffffff;
}
.txt-focus {
    color: #FF4D00;
}
div.value {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: #F2EFED;
    border-radius: 8px;
    overflow-x: hidden;
  }
.descr {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.descr.offset {
    margin-top: 1em;
    margin-bottom: 1em;
}
.disabled {
    opacity: 0.5;
}
.chevron-left, .chevron-right {
    color: #FF4D00;
    width: 8px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 19px;
}

/* Pagination */
.chevron-left {
    background-image: url('/img/chevron-left.svg');
}
.chevron-right {
    background-image: url('/img/chevron-right.svg');
}
.paging-items.row {
    justify-content: flex-end;
    margin-top: 1em;
}
.paging-items .col.left, .paging-items .col.right {
    max-width: 25px;
}
.paging-items  .col.mid {
    max-width: 110px;
}
.paging-display .page-select-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    width: 96px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F2EFED;
    border-radius: 8px;
}
.page-select {
    text-indent: -1px;
    width: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}
.page-select, .page-select:focus, .page-select:active, .page-select:hover,
.page-select option, .page-select:focus option, .page-select:active option, .page-select:hover option,
.chevron-left, .chevron-right, .chevron-left:focus, .chevron-right:focus, .chevron-left:active, .chevron-right:active, .chevron-left:hover, .chevron-right:hover {
    border: none;
    outline: 0px;
}

/* Badges */
.badge {
    padding: 9px 12px;
    gap: 10px;
    border-radius: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.01em;
}
.badge-warning {
    background: rgba(255, 77, 0, 0.16);
    color: #FF4D00;
}
/* Icons */
.caret, .caret-inv {
    font-size: 2em;
    display: block;
    text-align: right;
    cursor: pointer;
}
.caret-inv:not(.active) {
    transform: scaley(-1);
}
.caret.active {
    transform: scaley(-1);
}
.icon {
    width: 18px;
    height: 18px;
    color: #000000;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
}
.icon-github {
    background-image: url('/img/icon-github.svg');
    top: 3px;
}
.icon-twitter {
    background-image: url('/img/icon-twitter.svg');
    top: 4px;
}
.icon-mail {
    background-image: url('/img/icon-mail.svg');
    top: 3px;
}
.icon-discord {
    background-image: url('/img/icon-discord.svg');
    top: 4px;
}
.icon-accounts {
    background-image: url('/img/icon-accounts.svg');
    top: 1px;
    margin-left: 5px;
}
.icon-globe,
.icon-websites {
    background-image: url('/img/icon-globe.svg');
    top: 4px;
    margin-left: 2px;
    width: 22px;
    height: 22px;
}
.icon-subdomains {
    background-image: url('/img/icon-subdomains.svg');
    top: 4px;
    margin-left: 2px;
    width: 22px;
    height: 22px;
}
.icon-archid {
    background-image: url('/img/icon-archid.svg');
    top: 3px;
    margin-left: 2px;
    width: 22px;
    height: 22px;
}
.icon-archid.alt {
    background-image: url('/img/icon-archid-alt.svg');
}
.icon-denom {
    background-image: url('/img/icon-denom.svg');
    width: 22px;
    height: 22px;
    top: 5px;
}
.icon-denom-alt {
    background-image: url('/img/icon-denom-alt.svg');
    width: 32px;
    height: 32px;
    top: 4px;
}
.icon-available {
    background-image: url('/img/icon-available.svg');
    width: 36px;
    height: 36px;
    top: 7px;
}
.icon-not-available {
    background-image: url('/img/icon-not-available.svg');
    width: 36px;
    height: 36px;
    top: 7px;
}
.icon-keplr {
    background-image: url('/img/icon-keplr.svg');
    width: 24px;
    height: 24px;
    top: 6px;
}
.icon-cosmostation {
    background-image: url('/img/icon-cosmostation.svg');
    width: 24px;
    height: 24px;
    top: 6px;
}
.icon-archx {
    background-image: url('/img/icon-archx.svg');
    width: 24px;
    height: 24px;
    top: 6px;
}
.icon-upload {
    background-image: url('/img/icon-upload.svg');
    width: 16px;
    height: 16px;
}
.icon-warning {
    background-image: url('/img/icon-warning.svg');
    width: 24px;
    height: 24px;
}
.icon-info {
    background-image: url('/img/icon-info.svg');
    width: 24px;
    height: 24px;
}
.icon-domain-history-plus, 
.icon-domain-history-minus, 
.icon-domain-history-metadata, 
.icon-domain-history-transfer {
    width: 16px;
    height: 16px;
    top: 1px;
}
.icon-domain-history-plus {
    background-image: url('/img/icon-domain-history-plus.svg');
}
.icon-domain-history-minus {
    background-image: url('/img/icon-domain-history-minus.svg');
}
.icon-domain-history-metadata {
    background-image: url('/img/icon-domain-history-metadata.svg');
}
.icon-domain-history-transfer {
    background-image: url('/img/icon-domain-history-transfer.svg');
}

/* Modals */
.modal-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,.4);
}
.modalt {
    clear: both;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 595px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: -8px 0px 124px rgba(0, 0, 0, 0.08);
}
.modalr {
    clear: both;
    padding: 20px;
    width: 80%;
    max-width: 450px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: -8px 0px 124px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    position: absolute;
    right: 8%;
    top: 118px;
}
.modal-header .right .close-x {
    position: relative;
    top: -40px;
    font-size: 32px;
    font-weight: 300;
}
.modali .modal-header {
    border: none;
}

/* Animations */
@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}